.container {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 20px 30px;
    grid-template-rows: 100px
}

.container__item {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}